{
  "extends": "@newsteam",
  "rules": {
    "require-await": "off",
    "@typescript-eslint/no-misused-promises": "off",
    "compat/compat": "off",
    "import/named": "off",
    "security/detect-non-literal-fs-filename": "off",
    "no-await-in-loop": "off",
    "no-process-exit": "off",
    "node/no-sync": "off"
  }
}