{
  "extends": "@newsteam",
  "rules": {
    "compat/compat": "off",
    "import/named": "off",
    "security/detect-non-literal-fs-filename": "off",
    "no-process-exit": "off",
    "node/no-sync": "off"
  }
}